header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #ffffff;
    padding: 0 20px;
}

.img_Logo {
    position: relative;
    width: 30px;
    height: 30px;
    transition: 1s;
}

.img_Logo:hover {
    scale: 1.2;
    rotate: -10deg;
}

.ss {
    margin: 5px 0 0 0;
    width: 25px;
    height: 25px;
    transition: 1s;
}

.ss:hover {
    rotate: 10deg;
    scale: 1.2;
}

.wrap-logo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

header a {
    color: #000000;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 3px;
}

header a.logo {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Bruno Ace', cursive;
    transition: 1s;
}

.nomer {
    color: #000000;
    margin: 20px;
    content: "_";
    opacity: 1;
    transition: 1s;
    cursor: pointer;
}

header a.logo:hover {
    letter-spacing: 5px;
}